<ion-header [translucent]="true">
  <ion-toolbar id="title">
    <ion-title>
      Main Page
    </ion-title>
  </ion-toolbar>
  <meta charset="utf-8">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="addchild" (click)="showmodal()">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-grid>
    <ion-col>

      <ion-row>
        <ion-card>

          <ion-card-content>
            <img src="assets/kalemati.png" width="90px" height="90px" alt="كروتي" (click)="cards()">
            <div>
              <p (click)="cards()">كروتي</p>
            </div>
          </ion-card-content>

        </ion-card>
        <ion-card>

          <ion-card-content>
            <img src="assets/kalemati.png" width="90px" height="90px" alt="كروتي" (click)="cards()">
            <div>
              <p (click)="market()">سوق الكروت</p>
            </div>
          </ion-card-content>

        </ion-card>

      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>