<ion-header>
  <ion-toolbar>
    <ion-title>password reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-form>
    <ion-item>
      <h1>To reset your password please input your new password</h1>
    </ion-item>
    <ion-item>
      <label position="floating">password</label>
      <ion-input type="password" [(ngModel)]="newpass"></ion-input>
    </ion-item>
    <ion-item>
      <label position="floating">Confirm password</label>
      <ion-input type="password" [(ngModel)]="cpass"></ion-input>
    </ion-item>
    <ion-button (click)="reset_pass()">reset password</ion-button>
  </ion-form>
</ion-content>