*{text-Align: 'center';

  }
  .Card {
    width: 250px;
  }
  Button span{
    color:white;
  }
  .Card img{
    width:100%;
  }
  Card .Link{
    color:white;
    text-decoration: none;


  }
  .Card .Link:hover{
    color:white;
  


  }